
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h3>Вот что я умею</h3>
    <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      В ходе работы я научился создавать приложения и переопределять шаблоны страниц.<br>
      Создавать формы и фильтры.<br>
      Применял декораторы, контекст-процессоры и паджинатор.<br>
      Потратил очень много времени на валидацию форм. Нужно закрепить эту тему.<br>
      Создал навигацию по сайту.<br>
    </p>
  </article>
</div>
{% endblock %}