
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load static %}
<div class="row">
  <h4>Технологии, используемые в проекте:</h4>
    <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <img src="{% static 'img/python_logo.png' %}" width="50" height="50"> 
        <a href="https://www.python.org/" target="_blank">Python</a>
      </li>
      <li class="list-group-item">
        <img src="{% static 'img/django_logo.png' %}" width="50" height="50"> 
        <a href="https://www.djangoproject.com/" target="_blank">Django</a>
      </li>
      <li class="list-group-item">
        <img src="{% static 'img/github_logo.png' %}" width="50" height="50"> 
        <a href="https://github.com/" target="_blank">GitHub</a>
      </li>
      <li class="list-group-item">
        <img src="{% static 'img/html_logo.png' %}" width="50" height="50"> 
        <a href="https://html.spec.whatwg.org/multipage/" target="_blank">HTML</a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      Django-проект Yatube — это платформа для публикаций, блог.<br>
      <br>
      В проекте реализована система подписки на авторов и создание ленты их постов.
      Написана система комментирования записей.<br>
      <br>
      Для оформления веб-страниц был использован программный язык HTML.
      HTML-код вынесен в отдельные файлы - HTML-шаблоны.
      Django ORM применен  для работы с данными реляционной БД посредством классов.
      Проект использует драйвер баз данных SQLite.<br>
      <br>
      Использованы контекст-процессоры - анонимные посетители видят сайт иным, чем авторизованные пользователи.
      Авторизованным пользователям доступны ссылки на выход и смены пароля, а анонимным — ссылки на регистрацию и авторизацию.<br>
      <br>
      Добавление картинок к постам реализованно с помощью Pillow.
      С помощью sorl-thumbnail выведены иллюстрации к постам.<br>
      <br>
      Настроено кеширование главной страницы - список постов на главной странице сайта хранится в кэше и обновляется раз в 20 секунд.<br>
      <br>
      Написаны Unittest в Django для тестирование моделей, URLs, Views, Forms.<br>
      Проверено:
      <ol>
        <li>Что во view-функциях используются правильные html-шаблоны.</li>
        <li>Что словарь context, передаваемый в шаблон при вызове,  соответствует ожиданиям.</li>
        <li>
          Что если при создании поста указать группу, то этот пост появляется:
          <ul>
            <li>на главной странице сайта,</li>
            <li>на странице выбранной группы,</li>
            <li>в профайле пользователя.</li>
            <li>пост не попал в группу, для которой не был предназначен.</li>
          </ul> 
        </li>
        <li>
          Что при выводе поста с картинкой изображение передаётся в словаре context:
          <ul>
            <li>на главную страницу,</li>
            <li>на страницу профайла,</li>
            <li>на страницу группы,</li>
            <li>на отдельную страницу поста.</li>
          </ul> 
        </li>
        <li>
          Так же:
          <ul>
            <li>Что при отправке поста с картинкой через форму PostForm создаётся запись в базе данных.</li>
            <li>Авторизованный пользователь может подписываться на других пользователей и удалять их из подписок.</li>
            <li>Новая запись пользователя появляется в ленте тех, кто на него подписан и не появляется в ленте тех, кто не подписан.</li>
            <li>При отправке валидной формы со страницы создания поста reverse('posts:create_post') создаётся новая запись в базе данных.</li>
            <li>При отправке валидной формы со страницы редактирования поста reverse('posts:post_edit', args=('post_id',)) происходит изменение поста с post_id в базе данных.</li>
          </ul> 
        </li>
      </ol>
      <br>
      Переопределены шаблона страницы входа и другие шаблоны управления доступом.<br>
    </p>
  </article>
</div>
{% endblock %}